# This file ignores the below items when copying the project directory to a Docker container

# Docker and Git stuff
Dockerfile
docker-compose.yml
.dockerignore
.git/
.gitignore

# Documentation
***.md

# Front End
build/
node_modules/

# Backend
**logs/
**venv/
